---
- name: Get Device Versions
  hosts: all
  gather_facts: no
  connection: ansible.netcommon.network_cli
  
  tasks:
    - name: Run show version
      cisco.ios.ios_command:
        commands:
          - show version
      register: version_output
      
    - name: Display version
      debug:
        msg: "{{ inventory_hostname }}: {{ version_output.stdout_lines[0] | first }}"
