---
- name: Configure OSPF on all routers
  hosts: platforms_ios
  connection: ansible.netcommon.network_cli
  gather_facts: no

  tasks:
    - name: Configure OSPF area 0
      cisco.ios.ios_command:
        commands:
          - configure terminal
          - router ospf 1
          - network 0.0.0.0 255.255.255.255 area 0
          - end
