---

- hosts: platforms_ios
  gather_facts: false
  tasks:
    - name: Configure OSPF area 0 on Cisco IOS routers using the ios_config module
      cisco.ios.ios_config:
        lines:
          - router ospf 1
          - network 0.0.0.0 255.255.255.255 area 0
      