---
- hosts: platforms_ios
  become: yes
  gather_facts: no

  tasks:
    - name: Configure OSPF area on Cisco IOS devices using ios_config module
      cisco.ios.ios_config:
        lines:
          - router ospf 1
          - network 0.0.0.0 255.255.255.255 area 0