---

- hosts: platforms_ios

  gather_facts: false

  tasks:

    - name: Configure OSPF on all routers for area 0

      ios_command:

        commands:

          - configure terminal

            configuration: "router ospf"

              configuration: "area 0"

            end-of-options: |

                exit
