---
- hosts: platforms_ios
  become: yes
  tasks:
    - name: Configure OSPF area 0 on all routers using ios_config module
      cisco.ios.ios_config:
        lines:
          - router ospf 1
          - network 0.0.0.0 255.255.255.255 area 0