---

- hosts: platforms_ios
  tasks:
    - name: Configure OSPF on router1
      cisco.ios.ios_config:
        lines:
          - ^router ospf   # Enables the OSPF process with default settings for all interfaces except virtual ones, and sets a startup-time reference time of 0 (oldest seen route) without authentication required in this area.
      register: router1
    
    - name: Configure OSPF on router2
      cisco.ios.ios_config:
        lines:
          - ^router ospf   # Enables the OSPF process with default settings for all interfaces except virtual ones, and sets a startup-time reference time of 0 (oldest seen route) without authentication required in this area.
      register: router2
      
    - name: Configure network address to OSPF as area zero on both routers
      cisco.ios.ios_config:
        lines:
          - ^network {{ ansible_fqdn }} 0.0.0.0/0 area 0   # Configures the entire subnet (assuming '{{ ansible_fqdn }}' as local network address) to be part of OSPF Area Zero on both routers
      register: networks
    
   
