---
- hosts: platforms_ios
  gather_facts: false
  connection: network_cli
  tasks:
    - name: Configure OSPF area 0 on R1 and SW1
      cisco.ios.ios_config:
        lines:
          - router ospf 1
          - network 0.0.0.0 255.255.255.255 area 0
